
.arrayIndex, .linkedListIndex {
  text-align: center;
}

.arrayNode {
  background: #D3E1EE;
  height: 30px;
  width: 100px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  opacity: 1;
}

.arrayNode:hover {
  background: #abbdd6;
}

.arrayName {
  text-align: right;
  padding-right: 10px;
  height: 30px;
  width: 80px;
  padding-top: 30px;
  z-index: 1;
}

.normalName {
  text-align: right;
  padding-right: 10px;
  height: 30px;
  width: 80px;
}

.pointerName {
  text-align: right;
  padding-right: 5px;
  height: 30px;
  width: 80px;
}

.linkedListName {
  text-align: right;
  padding-right: 10px;
  height: 30px;
  width: 80px;
  padding-top: 30px;
}

.arrayHead, .normal, .linkedList {
  display: flex
}


.normalNode {
  background: #E9B792;
  height: 30px;
  width: 100px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  opacity: 1;
}

.normalNode:hover {
  background: #FEBA63;
}

.pointerNode {
  background: #F4B4B9;
  height: 30px;
  width: 30px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  opacity: 1;
}

.pointerNode:hover {
  background: #EF91A1;
}

.linkedListNode {
  background: rgb(201, 218, 191);
  height: 30px;
  width: 100px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  opacity: 1;
}

.linkedListNode:hover {
  background: #96a48b;
}

.treeNode {
  background: #eee5f8;
  height: 30px;
  width: 100px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  opacity: 1;
}

.treeNode:hover {
  background: #c9c0d3;
}